<div class=" uk-padding" uk-grid>
<table class="uk-table uk-table-hover uk-table-divider">
    <thead>
        <tr>
            <th>key</th>
            <th>nom</th>
            <th>phone</th>
            <th>country</th>
            <th>skill</th>
            <th>price</th>
            <th>noTe</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of itemArray">
            
            <td>{{ item.$key }}</td>
           <td>{{item.a}}</td>
           <td>{{item.b}}</td>
           <td>{{item.c}}</td>
           <td>{{item.d}}</td>
           <td>{{item.e}}</td>
           <td>{{item.f}}</td>
           <td>
<button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-example" (click)="editForm(item.$key)">EDIT</button></td>
           <td> <button class="uk-button uk-button-danger" (click)="oneDelete(item.$key)">delet</button></td>


       <!-- This is the modal -->
<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      
       <form class="uk-padding">
   <fieldset class="uk-fieldset">


        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="name" name="a" [(ngModel)]='data.a'>
        </div>
            <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="phone"  name="b" [(ngModel)]='data.b'>
        </div>
    <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="country"  name="c" [(ngModel)]='data.c'>
        </div>
    <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="skill"  name="d" [(ngModel)]='data.d'>
        </div>
          <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="price" name="e" [(ngModel)]='data.e'>
        </div>
        <div class="uk-margin">
            <textarea class="uk-textarea" rows="3" placeholder="note" name="f" [(ngModel)]='data.f'></textarea>
        </div>


    </fieldset>
    
    
</form>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button" (click)="oneEdit(item.$key)">Save</button>
        </p>
    </div>
</div>
        </tr>
       

    </tbody>
</table>
</div>





